Package: guardiankey-zimbra
Version: 1.0-1
Section: base
Priority: optional
Architecture: all
Depends: python,python-requests,python-crypto,python-configparser,python-pip,guardiankey-ssh
Maintainer: GuardianKey (https://guardianekey.io)
Description: GuardiaKey is a service that use AI (Artificial Intelligence) for increase security of logins.
 This is a implementation of GuardianKey Auth Securuty Lite, that is free until 10 users. More info:
