[Unit]
Description=GuardianKey for Zimbra

[Service]
Type=simple
ExecStart=/usr/bin/python /usr/lib/guardiankey/gkzimbra.py && /usr/bin/python /usr/lib/guardiankey/gk_pop_Imap.py

[Install]
WantedBy=multi-user.target
